<style>

</style>
                <!-- left start -->
                <div class="left-wrap">
                    <h2>Sign in</h2>
                    <form action="do/login" method="post" id="LoginForm">
						<p class="create-account">Your account has been activated. Welcome!</p>
                        <div class="row">
                            <label for="email" id="emailText" class="validate">Email address</label>
                            <input type="text" id="email" value="" maxlength="80" size="33" name="userName" class="validate" />
                        </div>
                        <div class="row">
                            <label for="password" id="passwordText" class="validate">Chose a password</label>
                            <input type="password" autocomplete="off" id="password" maxlength="20" size="20" name="password" class="validate" /> 
                        </div>
                       	<label class="checkbox" for="rememberMeCheckbox">
                        	<input type="checkbox" class="field" id="rememberMeCheckbox" /> Remember me on this computer 
						</label>
                		<hr />
                        <div class="buttons-area">
                           <a class="forgot-password">Forgot email or password?</a>
                           <a class="sign-in-r">Sign In</a>
                        </div>
					</form>
                </div>
                <!-- left end -->
                <!-- right start -->
                <div class="right-wrap"> 
                	<img class="norton-img" src="../../resources/assets/images/norton.png" width="131" height="113"> 
                	<img width="132" height="47" class="truste-img" src="../../resources/assets/images/truste.png"> 
                </div>
                <!-- right end -->
