<!--  May no longer Needed -->		    
       
            <!-- left start -->
            <div class="left-wrap">
                <h2>Set Password</h2>
                <p id="sign-in-info" class="hide-mobile">Your eHealth account has already been created, please set your password and read the terms of service to get started.</p>
              <form method="post" action="" id="sign-in-form">
                  <div class="row">
                        <label for="email" id="emailText" class="">Email</label>
                        <div class="input-container">
                            <input type="text" class="email" id="email" value="jmcrae@jetsolutions.com" maxlength="80" size="33" name="email" disabled>
                        </div>
                  </div>
                  <div class="row">
                    <label for="password2" id="passwordText" class="">Create Password</label>
                    <div class="input-container">
                        <input class="" value="" type="password" autocomplete="off" id="password2" maxlength="20" size="20" name="password" />
                    </div>
                    <div class="point-content-wrap">
                    	<div id="passwordError" class="point-wrap" style="display: none;">
                        	<div class="arrow"></div>
                        	<p>Password Must</p>
                        	<ul class="passwordErrors">
								<li id="atLeastOneDigit" class="">Have at least 1 number</li>
								<li id="atLeastOneAlpha" class="">Have at least 1 letter</li>
								<li id="lengthRange" class="">Have 6 to 20 characters</li>
								<li id="lettersCase" class="success">Letters are case sensitive</li>
								<li id="notSameEmail" class="">Cannot be the same as email address</li>
								<li id="noThreeSameChar" class="">Cannot have 3 of the same characters in a row</li>
							</ul>
                        </div>
                    </div>
                    </div>
                  <div class="row agree-service">By signing in, you agree to the <a href="#">Terms of Service</a></div>
                  <a href="#" class="sign-in-btn" id="sign-in-btn">Sign In</a>
              </form>
            </div>
            <!-- left end -->
            <!-- right start -->
            <div class="right-wrap">
                <h2>How does HRA work?</h2>
                <ul>
                    <li>
                        <em>1</em>
                        <span>Sign in to see your available HRA amount</span>
                    </li>
                    <li>
                        <em>2</em>
                        <span>Enroll in Individual Health Plans</span>
                    </li>
                    <li>
                        <em>3</em>
                        <span>Pay your premiums and be reimbursed through your HRA.</span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!-- right end -->