		<div class="error-lists">
			<p>Please correct the <span id="numErrors"></span> isssue listed below.</p>
			<ul class="lists">
				<li class="password-match">Confirm New Password: <span>Confirmation Password is different from Password</span></li>
				<li class="invalid-password">Password: <span>Please enter a valid password</span></li>
				<li class="invalid-inputs">Email and Password: <span>Please enter a valid email and password.</span></li>
				<li class="invalid-email">Email: <span>Invalid email. Please enter a valid email address.</span></li>
				<li class="reset-password"></li>
			</ul>
		</div>