<!-- footer start -->
 <div class="footer">
    	<ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Licensing and Legal</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Copyright &copy; 2014 eHealthInsurance Services, Inc.</p>
        <div class="disclaimer">The information found on this site is for general information purposes only. Please note that your employer neither endorses nor recommends any of the coverages presented to you, and such coverage is not (and should not be considered) an employee benefit plan sponsored or maintained by your employer. The coverages found on this site are voluntary individual insurance products underwritten by individual insurance carriers. Your decision to purchase coverage is a voluntary decision between you and the independent insurance carrier. If you are eligible for group coverage through your employer, this shopping experience is not for you. These plans are available only for employees who are not eligible for employer-sponsored group health insurance coverage.</div>
	</div>
	<!-- footer end -->