<div class="left-wrap">
	<h2 style="margin-left: 8px;width: 300px;">Reset your password expired</h2>
	<p class="reset-password-text">For security reasons, the link for resetting your password has expired. Please request your password again and use the link in the email you receive as soon as possible.</p>
	<a class="resend-link" href="#">Retrieve Password</a>                     
</div>
<!-- left end -->
<!-- right start -->
<div class="right-wrap"> 
	<img class="norton-img" src="assets/images/norton.png" width="131" height="113"> 
	<img width="132" height="47" class="truste-img" src="assets/images/truste.png"> 
</div>
