<div class="left-wrap">
                <h2>Reset your password</h2>
				<div class="reset-account-info"><strong>User id:</strong> {{email}}<br /><strong>Name:</strong> <span id="reset-firstname">{{firstname}}</span> <span id="reset-lastname">{{lastname}}</span></div>
				<form method="post" action="do/login" id="sign-in-form">
					<input type="hidden" name="userName" id="userName" value="{{email}}" />
					<input autocomplete="off" type="password" name="password" id="password" class="password-hidden" />
					<div class="row">
						<label for="password-one" id="password-one-label" class="">Password</label>
						<div class="relative">
							<input autocomplete="off" type="password" id="password-one" class="password" value="" />
							<!-- alert start -->
							<div class="point-wrap down" style="display:none;" id="password-error-list">
								<div class="arrow"></div>
								<div class="title">Password must have</div>
								<ul id="password-list">
									<li class="success lengthRange">6 to 20 characters</li>
									<li class="success atLeastOneAlpha">At least 1 letter</li>
									<li class="success atLeastOneDigit">At least 1 number</li>
								</ul>
							</div>
						<!-- alert end -->
						</div>
						<div class="password-strength" style="display:none;">Password strength: <span class="orange" id="password-strength-text"></span>
							<div class="percent-wrap"><span id="password-strength-meter" class="yellow-percent" style="width:0%;"></span></div>
						</div>
						<div class="row confirm-password">
							<label for="password-confirm" id="password-confirm-label" class="">Confirm Password</label>
							<input autocomplete="off" type="password" id="password-confirm" class="password" />
						</div>
					</div>
					<div class="btn-wrap reset-password"><a id="password-submit" class="activate-account">Save Changes</a></div>
					</form>
                </div>
                <!-- left end -->
                <!-- right start -->
                <div class="right-wrap"> 
                	<img class="norton-img" src="assets/images/norton.png" width="131" height="113"> 
                	<img width="132" height="47" class="truste-img" src="assets/images/truste.png"> 
                </div>
