
                <!-- left start -->
                <div class="left-wrap">
                    <h2>Set Password</h2>
                    <div class="user-info">
						<strong>user id</strong>　janice.mcrea@jetsolution.com<br />
						<strong>name</strong>　Janice McRea
					</div>
					<form method="post" action="" id="sign-in-form">
					<div class="row relative">
						<label for="password" id="emailText" class="">Password</label>
						<div class="relative">
							<input type="password" id="password" class="password" />
							<!-- alert start -->
							<div class="point-wrap down" style="display:none;">
								<div class="arrow"></div>
								<div class="title">Password Must</div>
								<ul>
									<li class="error">Have 6 to 20 characters</li>
									<li class="success">Have at least 1 letter</li>
									<li class="error">Have at least 1 number</li>
								</ul>
							</div>
						<!-- alert end -->
						</div>
						<div class="password-strength" style="display:none;">Password strength: <span class="red">too short</span>
							<div class="percent-wrap"><span class="red-percent" style="width:17%;"></span></div>
						</div>
						<p class="remind">You will get email link to activate your account after setting up the password</p>
						
					</div>
					<div class="btn-wrap"><a class="activate-account">Set Password</a></div>
					</form>
                </div>
                <!-- left end -->
                <!-- right start -->
                <div class="right-wrap"> 
                	<img class="norton-img" src="assets/images/norton.png" width="131" height="113"> 
                	<img width="132" height="47" class="truste-img" src="assets/images/truste.png"> 
                </div>
                <!-- right end -->
                <div class="clearfix"></div>