<div class="sign-in">
            <div class="welcome">
				<div class="logo-wrap">
					<img width="144" height="38" alt="Elmwood Logo" src="assets/images/elmwood_logo.png" class="image1"> <span class="divider"></span>
					<img width="124" height="43" alt="JetSolutions Logo" src="assets/images/jet-solutions.png" class="image2">
				</div>
			</div>
            <div class="sign-in-wrap set-up-password clear">
                <!-- left start -->
                <div class="left-wrap">
                    <h2>Activate Account</h2>
                    <div class="error-wrap">An activation link has been sent to <strong>janice.mcrea@jetsolutions.com</strong>, please check your email and click on the link to activate your account.<br />(notice: the link will expire in 30 minuntes)</div>
					<a href="#" class="resend-link">resend the activation link</a>
                </div>
                <!-- left end -->
                <!-- right start -->
                <div class="right-wrap"> 
                	<img class="norton-img" src="assets/images/norton.png" width="131" height="113"> 
                	<img width="132" height="47" class="truste-img" src="assets/images/truste.png"> 
                </div>
                <!-- right end -->
            </div>
        </div>